<section>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg nav-custom">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Market Place</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerdemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerdemo02">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/items">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/items/create"><i class="fas fa-plus-circle"></i> Crear Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cats">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cats/create"><i class="fas fa-plus-circle"></i> Crear Categorias</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
<section id="secondTitle">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="img-title">
          <img src="assets/Girldefault.jpg">
        </div>
        <div class="img-text">
          <h3>Shop the new collection here first</h3>
          <button class="btn btn-primary btn-shop">Shop Now!</button>
        </div>
      </div>
    </div>
  </div>
</section>